<section class="user-section">
<div class="user-card">
<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="user" class="profile-picture">
<div class="user-details">
    <h2>User name</h2>
    <p class="number-of-posts bottomright">Number of posts:100</>
</div>
</div>

<div class="user-card">
<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="user" class="profile-picture">
<div class="user-details">
    <h2>User name</h2>
    <p class="number-of-posts bottomright">Number of posts:100</>
</div>
</div>

<div class="user-card">
<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="user" class="profile-picture">
<div class="user-details">
    <h2>User name</h2>
    <p class="number-of-posts bottomright">Number of posts:100</>
</div>
</div>

<div class="user-card">
<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="user" class="profile-picture">
<div class="user-details">
    <h2>User name</h2>
    <p class="number-of-posts bottomright">Number of posts:100</>
</div>
</div>
</section>