<% @posts.each_with_index do |post, index| %>
    <div class="card">
        <h2>Post #<%= index + 1 %></h2>
        <div class="user-card user-post">
               <p><%= post.text %></p>
               <ul class="unordered-list likes-comments">
                    <li>Likes: <%= post.likes.count %> </li>
                   <li>Comments: <%= post.comments.count %> &#44; </li>
               </ul>
        </div>
    </div>
<% end %>