.btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
}

.btn:hover {
    background-color: #0056b3;
  }

.comments-list{
    background-color:#f1f1f1;
    /* min-height: 0; */
    /* max-height: 50px; */
    height: 50px;
    overflow-y: scroll;
    border-top: 1px solid #babfc5;
    
}

.comments-list li{
    border-bottom: 1px solid #babfc5;
}

.post-link:hover {
    border: 10px solid red !important;
  }
  
  .post-content{
      display: inline-block;
  }
